a{
  color: black !important;
}
.auth-card{
  margin:50px;
  padding :20px;
  text-align:center;
  max-width: 400px;
  margin-left: 50px;
}
.card{

  justify-content: center;
}
.mycard{
display: flex;
justify-content: center;
margin-top: 100px;
}
.btn{
  margin-top: 10px;
}
.gallery{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
}
.item{
  width: 30%;
}

.home-card{
  max-width: 600px;
  height: max-content;
  margin: 26px auto !important
 

}
.loader-sign{
  display: flex;
  height: 80vh!important;
  align-items: center !important;
  justify-content: center !important;
  
}
.log{
  margin-top: 0!important;
  padding-top: 0!important;
  margin-bottom: 8px!important;
  border-radius: 8px !important;
}
